html, body, #app {
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    font-size: 18px;
}
body{
    background-color:#f5f5f5;
}
/* logo */
.navbar-brand{
    position:relative;
    height: 80px;
    margin-top: -10px;
}
#logo1{
    font-size: xx-large;
    float: left;
}
#logo2{
    color: #C45911;
    font-size: xx-large;
}
#logo3{
    position:absolute;
    top: 2.6rem;
    font-size: small;
    padding-left: 15px;
}
#logo4{
    color: #C45911;
    font-size: medium;
    padding-left: 27px;
    padding-top: 5px;
}
/* /logo */
img[src^="/images/"]{
    padding-bottom: 10px;
}
.article-author > *{
    margin-right: 5px;
}
h1{
    padding: 1rem 0;
    font-size: 1.75rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
#app {
    display: flex;
    flex-direction: column;
}
.accurate-button{
    border: 1px solid #C45911;
    border-radius: 10px;
    padding: 10px;
}
.accurate-button:hover{
    border-color:#9A4913;
    color: #9A4913;
    transition: all 0.2s ease-in-out;
}
.read-next-link{
    margin-bottom: 20px;
    display: inline-block;
}
.read-next-link > span{
    padding: 0 20px;
}
#write-article-button > i {
    padding-right: 10px;
}
.article-annotation img, .article-text img {
    display:block;
    margin: 10px auto;
}
#navbarDropdown{
    color: #000;
    padding: 5px;
}
#navbarDropdown img{
    border-radius: 50%;
    margin-left: 20px;
}
#logout-link > i{
    color: #C45911;
    padding-right: 10px;
}
#content {
    flex-grow: 1;
}
.article-content{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}
.page-link{
    font-size: 2rem !important;
    margin: 0 15px;
}
.center{
    text-align: center;
}
.text-main{
    color: #C45911;
    font-size: larger;
}
nav#header{
    display: block;
}
nav#footer{
    font-size: smaller;
    display: block;
}
nav#footer p {
    margin-bottom: 0.5rem;
}
nav#footer > div.container{
    display: block;
}
ul.footer-menu{
    min-height: 2em;
    padding: 0;
    display: flex;
    line-height: 2.5em;
}
ul.footer-menu li {
    float: left;
    margin-right: 23px;
    display: inline-block;
}

img{
    max-width: 100%;
}
.modal{
    padding: 0 !important;
    overflow: visible;
}
.navbar-brand img {
    max-width: 200px;
}
ul.navbar-nav > li {
    text-align: right;
}
.article-author, .comment-header{
    padding: 1em 0;
}

/* ======= mobile */
@media screen and (max-width: 767px) {
    ul.footer-menu {
        flex-direction: column;
    }
    .page-link{
        font-size: 1rem !important;
    }
}