html,
body,
#app {
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background-color: #f0f0f0;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    color: #C45911;
}

*::selection {
    background-color: #041e42;
    color: white;
}

strong,
b {
    font-weight: bold;
}

blockquote,
q {
    position: relative;
    padding: 12px 12px 12px 60px;
    margin: 10px;
    color: #041e42;
    font-style: italic;
    font-size: 1rem;
    background: #f8f9fa;
    border-left: 3px solid #041e42;
    display: block;
    quotes: none;
}

blockquote:after {
    content: 'â€';
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 3em;
    line-height: 1;
}

#mobile-header-about-link {
    margin-top: -30px;
    padding-bottom: 15px;
}

.profile-article-title>a {
    line-height: 3rem;
    font-size: larger;
}

.comment-children {
    padding-left: 2rem;
}

.user-preview-popup {
    position: absolute;
    max-width: 300px;
    box-shadow: 5px 5px 20px #041e42;
    z-index: 10;
}

button.modal-ok-button {
    margin: 20px auto;
    display: block;
}

#scroll-top-button {
    display: none;
    background-color: #ffc220;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    color: #fff;
}

#scroll-top-button:hover {
    cursor: pointer;
    background-color: #041e42;
}

#scroll-top-button>i {
    font-size: 3rem;
    line-height: 60px;
}

.write-article-button.display-desktop {
    margin-right: 10px;
}

#navbarSupportedContent {
    margin-top: 15px;
}

.pagination>li {
    max-width: 8%;
}


/* logo */

.navbar-brand {
    position: relative;
    height: 80px;
    width: 170px;
    min-width: 170px;
}

#logo1 {
    font-size: 2.5rem;
    font-style: italic;
    float: left;
    color: #3ec5e6;
    display: block;
    position: absolute;
    top: -12px;
    left: -7px;
}

#logo2 {
    color: #ffc220;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
}

#logo3 {
    position: absolute;
    top: 2.4rem;
    font-size: 0.9rem;
    right: 0;
    text-align: right;
    color: white;
}

#logo4 {
    top: 63px;
    color: #ffc220;
    font-size: medium;
    position: absolute;
    right: 0;
    text-align: right;
}


/* /logo */

.article-author>* {
    margin-right: 5px;
}

h1 {
    padding: 1rem 0;
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

#app {
    display: flex;
    flex-direction: column;
}

.accurate-button {
    border: 1px solid #C45911;
    border-radius: 10px;
    padding: 10px;
}

.accurate-button:hover {
    border-color: #041e42;
    color: #041e42;
    transition: all 0.2s ease-in-out;
}

.read-next-link {
    margin-bottom: 20px;
    display: inline-block;
}

.read-next-link>span {
    padding: 0 20px;
}

.write-article-button>i {
    padding-right: 10px;
}

.dropdown-menu {
    padding: 10px;
}

#navbarDropdown {
    color: #000;
    padding: 5px;
}

#navbarDropdown img {
    border-radius: 50%;
    margin-left: 20px;
}

#logout-link>i {
    color: #ffc220;
    padding-right: 10px;
}

#content {
    flex-grow: 1;
}

.article-content,
.trumbowyg-editor {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 10px;
    min-height: 100%;
}

.page-link {
    font-size: 2rem !important;
}

.pagination .page-item.active .page-link {
    background-color: inherit !important;
    color: #C45911 !important;
    font-weight: bold;
    box-shadow: none !important;
}

.ajax-load {
    background: #e1e1e1;
    padding: 10px 0px;
    width: 100%;
}

.center {
    text-align: center;
}

.text-main {
    color: #C45911;
    font-size: larger;
}

nav#header {
    display: block;
    background-color: #041e42 !important;
}

nav#header a,
nav#header button {
    color: #ffc220;
    border-color: #ffc220;
}

nav#header a:active,
nav#header button:active {
    color: #C45911;
}

nav#header .dropdown-menu * {
    color: #041e42;
}

nav#footer {
    font-size: smaller;
    display: block;
    padding-bottom: 25px;
}

nav#footer p {
    margin-bottom: 0.5rem;
}

nav#footer>div.container {
    display: block;
}

ul.footer-menu {
    min-height: 2em;
    padding: 0;
    display: flex;
    line-height: 2.5em;
}

ul.footer-menu li {
    float: left;
    margin-right: 23px;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
}

.modal {
    padding: 0 !important;
    overflow: visible;
}

.navbar-brand img {
    max-width: 200px;
}

ul.navbar-nav>li {
    text-align: right;
}

.article-author,
.comment-header {
    padding: 1em 3em 0 0;
    position: relative;
}

.social-entrance.fb {
    background: #4867aa none repeat scroll 0 0;
}

.social-entrance {
    margin-left: 15px;
    padding: 10px 25px;
    color: #fff;
    transition: all .5s ease 0s;
}

.social-entrance:hover {
    color: #fff;
}

.article-comments-count {
    position: absolute;
    right: 0;
    font-size: 2rem;
    top: 10px;
}

.feed {
    float: left;
    padding: 0;
}

.right-banner {
    float: right;
    padding: 0 20px;
}

.right-banner-content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.right-banner-content ul {
    list-style: circle;
    padding-inline-start: 10px;
    padding-top: 10px;
}

.expand-read-more {
    cursor: pointer;
    color: #C45911;
    margin-bottom: 10px;
    display: block;
}

.display-mobile {
    display: none;
}

.nav-item {
    float: right;
}

.nowrap {
    white-space: nowrap;
}

#profile-header {
    display: flex;
    align-items: flex-end;
    background-color: #041e42;
    margin: -1rem -1rem 1rem;
    padding: 1rem;
}

#user-title {
    padding: 1rem;
}

#user-title>h1 {
    color: #ffc220;
    font-size: 2rem;
}

#user-title>span {
    color: white;
    font-size: 1rem;
}

#avatar-profile-large>img {
    border: 3px solid white;
    max-width: 10rem;
    box-shadow: 5px 5px 10px;
}

.profile-tab-own>a.nav-link {
    color: red !important;
}


/* accordion tabs */

.accordion-tabs {
    *zoom: 1;
    width: 100%;
    border: 1px solid #041e42;
    border-radius: 0.1875em;
    margin-bottom: 1.5em;
    margin-left: 0;
    padding-left: 0;
}

.accordion-tabs:before,
.accordion-tabs:after {
    content: " ";
    display: table;
}

.accordion-tabs:after {
    clear: both;
}

.accordion-tabs li {
    list-style: none;
}

.accordion-tabs li.tab-head-cont:first-child a {
    border-top-left-radius: 0.1875em;
    border-top-right-radius: 0.1875em;
    border-top: 0;
}

.accordion-tabs li.tab-head-cont:last-child a {
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
}

.accordion-tabs li.tab-head-cont>a {
    text-decoration: none;
    border-top: 1px solid #041e42;
    display: block;
    padding: 0.75em 0.809em;
}

.accordion-tabs li.tab-head-cont a.active {
    border-bottom: 0;
    color: #333333;
}

.accordion-tabs li.tab-head-cont section {
    padding: 1.5em 1.618em;
    display: none;
    overflow: hidden;
    width: 100%;
}


/* error reporting form */

#error-report {
    padding: 1rem !important;
}

#error-report>#selected-error-text {
    padding-left: 1rem;
    border-left: 3px solid red;
}

#error-report>span {
    display: block;
    margin: 10px 0;
}

#error-report>textarea {
    width: 100%;
}


/* social buttons */

.social-icons-container {
    display: flex;
    /*border-bottom: 1px #dbdbdb solid;*/
    padding-bottom: 20px;
}

.social-icons-container>.social-icon {
    border-radius: 50%;
    font-size: 36px;
    background-color: #041e42;
    color: white;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 5px;
}

.share-title {
    font-weight: bolder;
    color: gray;
    font-size: larger;
}


/* accordion tabs */

@media screen and (min-width: 1023px) {
    .accordion-tabs {
        border: none;
        position: relative;
    }
    .accordion-tabs li.tab-head-cont {
        display: inline;
    }
    .accordion-tabs li.tab-head-cont:last-child a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .accordion-tabs li.tab-head-cont a {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        border-top: 0;
        border-top-right-radius: 0.1875em;
        border-top-left-radius: 0.1875em;
    }
    .accordion-tabs li.tab-head-cont a.active {
        border: 1px solid #041e42;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
    }
    .accordion-tabs li.tab-head-cont section {
        border-bottom-left-radius: 0.1875em;
        border-bottom-right-radius: 0.1875em;
        border: 1px solid #041e42;
        float: left;
        left: 0;
        padding: 0.75em 0.809em;
    }
    .accordion-tabs li.tab-head-cont section p {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
}


/* ======= mobile */

@media screen and (max-width: 767px) {
    .social-icons-container>.social-icon {
        font-size: 26px;
        width: 40px;
        height: 40px;
    }
    ul.footer-menu {
        flex-direction: column;
    }
    .page-link {
        font-size: 1rem !important;
    }
    .social-entrance {
        font-size: smaller;
        padding: 10px 10px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    #reformal_tab {
        display: none !important;
    }
    .display-desktop,
    .right-banner-content {
        display: none;
    }
    .display-mobile {
        display: block;
    }
    .article-comments-count {
        font-size: 1rem;
        top: 20px;
    }
    .article-author>span {
        display: block;
    }
    .comment-children {
        padding-left: 1rem;
    }
    #avatar-profile-large {
        max-width: 100%;
    }
    #profile-header {
        flex-direction: column;
        align-items: flex-start;
    }
}


/* ======= phone */

@media screen and (max-width: 481px) {
    .padding-0-phone {
        padding: 0;
    }
    .comment-children {
        padding-left: 0.5rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    #avatar-profile-large>img {
        max-width: 100%;
    }
    #profile-header {
        margin: -2.1rem -1rem 1rem;
    }
}