html, body, #app {
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    font-size: 18px;
    font-family: 'B612', sans-serif;
    overflow-x: hidden;
}
body{
    background-color:#f0f0f0;
}
.article-content h1,.article-content h2,.article-content h3,.article-content h4,.article-content h5,.article-content h6{
    color:#C45911;
}
strong,b{
    font-weight: bold;
}
#scroll-top-button{
    display: none;
    background-color: #ffc220;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    color: #fff;
}
#scroll-top-button:hover {
    cursor: pointer;
    background-color: #041e42;
}
#scroll-top-button > i {
    font-size: 3rem;
    line-height: 60px;
}
.write-article-button.display-desktop{
    margin-right: 10px;

}
#navbarSupportedContent{
    margin-top: 15px;
}
.pagination > li{
    max-width: 8%;
}
/* logo */
.navbar-brand{
    position:relative;
    height: 80px;
    width: 170px;
    min-width: 170px;
}
#logo1{
    font-size: 2.5rem;
    font-style: italic;
    float: left;
    color: #3ec5e6;
    display: block;
    position: absolute;
    top: -12px;
    left: -7px;
}
#logo2{
    color: #ffc220;
    font-size: 2rem;
    position: absolute;
    top: 0px;
    right:0;
    text-align: right;
}
#logo3{
    position:absolute;
    top: 2.5rem;
    font-size: small;
    right:0;
    text-align: right;
    color:white;
}
#logo4{
    top: 63px;
    color: #ffc220;
    font-size: medium;
    position: absolute;
    right:0;
    text-align: right;
}
/* /logo */
img[src^="/images/"]{
    padding-bottom: 10px;
}
.article-author > *{
    margin-right: 5px;
}
h1{
    padding: 1rem 0;
    font-size: 1.75rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
#app {
    display: flex;
    flex-direction: column;
}
.accurate-button{
    border: 1px solid #C45911;
    border-radius: 10px;
    padding: 10px;
}
.accurate-button:hover{
    border-color:#041e42;
    color: #041e42;
    transition: all 0.2s ease-in-out;
}
.read-next-link{
    margin-bottom: 20px;
    display: inline-block;
}
.read-next-link > span{
    padding: 0 20px;
}
.write-article-button > i {
    padding-right: 10px;
}
.dropdown-menu{
    padding: 10px;
}
.article-annotation img, .article-text img {
    display:block;
    margin: 10px auto;
}
#navbarDropdown{
    color: #000;
    padding: 5px;
}
#navbarDropdown img{
    border-radius: 50%;
    margin-left: 20px;
}
#logout-link > i{
    color: #ffc220;
    padding-right: 10px;
}
#content {
    flex-grow: 1;
}
.article-content{
    background-color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}
.page-link{
    font-size: 2rem !important;
}
.pagination .page-item.active .page-link{
    background-color:inherit!important;
    color:#C45911 !important;
    font-weight: bold;
    box-shadow: none !important;
}
.ajax-load{
    background: #e1e1e1;
    padding: 10px 0px;
    width: 100%;
}
.center{
    text-align: center;
}
.text-main{
    color: #C45911;
    font-size: larger;
}
nav#header{
    display: block;
    background-color: #041e42 !important;
}
nav#header a, nav#header button {
    color:#ffc220;
    border-color: #ffc220;
}
nav#header a:active, nav#header button:active{
    color: #C45911;
}
nav#header .dropdown-menu *{
    color: #041e42;
}
nav#footer{
    font-size: smaller;
    display: block;
    padding-bottom: 25px;
}
nav#footer p {
    margin-bottom: 0.5rem;
}
nav#footer > div.container{
    display: block;
}
ul.footer-menu{
    min-height: 2em;
    padding: 0;
    display: flex;
    line-height: 2.5em;
}
ul.footer-menu li {
    float: left;
    margin-right: 23px;
    display: inline-block;
}

img{
    max-width: 100%;
}
.modal{
    padding: 0 !important;
    overflow: visible;
}
.navbar-brand img {
    max-width: 200px;
}
ul.navbar-nav > li {
    text-align: right;
}
.article-author, .comment-header{
    padding: 1em 0;
}
.social-entrance.fb {
    background: #4867aa none repeat scroll 0 0;
}
.social-entrance {
    margin-left: 15px;
    padding: 10px 25px;
    color: #fff;
    transition: all .5s ease 0s;
}
.social-entrance:hover{
    color:#fff;
}
.feed{
    float:left;
    padding:0;
}
.right-banner{
    float:right;
    padding: 0 20px;
}
.right-banner-content{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.right-banner-content ul {
    list-style: circle;
    padding-inline-start: 10px;
    padding-top: 10px;
}
.expand-read-more{
    cursor: pointer;
    color: #C45911;
    margin-bottom: 10px;
    display: block;
}
#user-info{
    padding: 1rem;
    border: 1px solid #212529;
    margin-bottom: 1rem;
}
.display-mobile{
    display:none;
}
.nav-item{
    float:right;
}
/* ======= mobile */
@media screen and (max-width: 767px) {
    ul.footer-menu {
        flex-direction: column;
    }
    .page-link{
        font-size: 1rem !important;
    }
    .social-entrance {
        font-size: smaller;
        padding: 10px 10px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    #reformal_tab{
        display: none !important;
    }
    .display-desktop, .right-banner-content{
        display: none;
    }
    .display-mobile{
        display:block;
    }
}